#flex {
  display: flex;
  flex-direction: row;
}

.p {
  font-size: large;
}

.info {
  height: 100%;
  width: auto;
  background-color: burlywood;
  padding: 15px;
}

.Axe {
  height: 100%;
  width: auto;
  padding: 15px;
}
